/* Custom CSS */

nav {
  max-width: 750px;
  margin: 0 auto;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-brand {
  height: 87px;
}

.navbar-collapse.in {
  border-bottom: 1px solid #e7e7e7;
}

@media (min-width: 768px) {
  .navbar-nav {
    padding-top: 20px;
  }
}

.container {
  max-width: 750px;
}

main {
  margin-bottom: 40px;
}

.navbar {
  margin-bottom: 0;
}

.page-header {
  margin-top: 0;
}