    <footer id="footer">
      <div class="container">

        <div class="col-sm-4">
          <ul>
            <li><a href="#">Who we Are</a></li>
            <li><a href="#">WP Calendar</a></li>
            <li><a href="#">Partners/Sponsors</a></li>
            <li><a href="#">Partner with Us</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul>
            <li><a href="#">Press Kit</a></li>
            <li><a href="#">Advertise</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">WP Jobs/Volunteer in PDX</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ul>
        </div>

      </div>
    </footer>
    