<div id="toolbar" class="container hidden-xs">
  <div class="branding col-sm-6">
    <a href="/"><img src="/img/logo.png" alt="World Pulse logo"></a>
  </div>

  <div class="toolbar-links col-sm-3">
    <a href="/sign-in/">Sign in</a>
  </div>
  <div id="search" class="input-group input-group-sm col-sm-3">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
</div>

{% include nav.html %}
