<nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#wp-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="World Pulse logo"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="wp-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Issues <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/issues/">Issues</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connect <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/connect/members/">Members</a></li>
              <li><a href="/connect/groups/">Groups</a></li>
              <li><a href="/connect/resources/">Resources</a></li>
              <li><a href="/connect/events/">Events</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Involved <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/get-involved/join/">Join/Post</a></li>
              <li><a href="/get-involved/volunteer/">Volunteer</a></li>
              <li><a href="/get-involved/participate/">Participate</a></li>
              <li><a href="/get-involved/donate/">Donate</a></li>
              <li><a href="/get-involved/updates/">Receive updates</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Impact <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/impact/mission">Mission</a></li>
              <li><a href="/impact/programs">Our programs</a></li>
              <li><a href="/impact/media">Voices in the media</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Pulse <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Register</a></li>
              <li><a href="#">Sign in</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
