<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div id="wrap">

    {% include header.html %}

    <!-- START CONTENT -->
    
    <main class="container">

      {{ content }}

    </main>
    </div> <!-- /#Wrap -->

    <!-- END CONTENT -->

    {% include footer.html %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
